@charset "utf-8";
@import url("html5reset-1.6.1.css");

html {
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	background-color: #3D3D3D;
	/*background-image: url("../img/background.png"), url("../img/background2.png"), url("../img/background3.png");*/
	background-repeat: repeat, no-repeat, no-repeat;
	background-position: top left, bottom right, bottom left;
/*	background-color: #eeeeee;*/
	overflow-y:scroll;
}
body {
	max-width: 960px;
	margin: 0 auto;
}
section {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: #cccccc;
}

article > h2 {
	margin: 15px 0;
	font-size: 1.5em;
}
section > h3 {
	margin: 0 0 15px;
	font-size: 1.2em;
}


/*============================================================================*/
/* ヘッダー                                                                   */
/*============================================================================*/
body > header {
	display: flex;
	flex-flow: column wrap;
	height: 100px;
	color: rgba(255, 255, 255, .8);
	background-color: rgba(0, 0, 0, .4);
}
body > header > h1 {
	flex: 0 0 150px;
	width: 244px;
}
body > header > p {
	flex: 1 1 auto;
	padding: 1em 0;
}
body > header > ul {
	flex: 1 0 52px;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding-right: 25px;
}
body > header > ul > li {
	flex: 0 0 32px;
	margin: 20px 10px 10px 10px;
}
body > header > ul > li:last-child {
	margin-right: 0;
}

/*============================================================================*/
/* ヘッダーsample                                                                   */
/*============================================================================*/
body > nav{
    height: 70px;
}
body > nav > ul{
    list-style: none; /* リスト形式を削除 */
    	display: flex;
	height: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

 /* リストを横並びに */
body > nav > ul  >li{
    width: 100px;
    height: 40px;
    float: left;
    -ms-flex: 0 1 calc(100% / 6);			/* メニューは6つのため、100% / 6 */
	flex: 0 1 calc(100% / 6);
}
body > nav > ul > li > a{
    text-indent: -9999px; /* テキストをふっとばす */ 
    text-decoration: none;  
    display: block;  
    width: 160px;  
    height: 70px;  
    background-image: url("../img/globalnav.png");  
    background-repeat: no-repeat;  
}
/*hover時の指定*/
body > nav > ul > li > a:hover{
    text-indent: -9999px; /* テキストをふっとばす */ 
    text-decoration: none;  
    display: block;  
    width: 160px;  
    height: 70px;  
    background-image: url("../img/globalnav_hover.png");  
    background-repeat: no-repeat;
    color:#fff;  
}

 /* a要素の背景の指定  ※左の数字がx軸、右の数字がy軸*/
body > nav > ul li#menu1 a { background-position: 0 0; }   
body > nav > ul li#menu2 a { background-position: -160px 0px; }  
body > nav > ul li#menu3 a { background-position: -320px 0px; }  
body > nav > ul li#menu4 a { background-position: -480px 0px; }  
body > nav > ul li#menu5 a { background-position: -640px 0px; }
body > nav > ul li#menu6 a { background-position: -800px 0px; }

/*============================================================================*/
/* メインコンテンツ                                                           */
/*============================================================================*/
.main-contents {
	margin-bottom: 30px;
	color: rgba(0, 0, 0, .8);
	background-color: rgba(204, 204, 204, .4);
}
.main-contents article {
}
.main-contents aside {
}
.main-contents section {
	background-color: rgba(255, 255, 255, 1);
}
.main-contents article > h1, .main-contents article > h2, .main-contents article > h3, .main-contents article > h4, .main-contents article > h5, .main-contents article > h6
, .main-contents aside > h1, .main-contents aside > h2, .main-contents aside > h3, .main-contents aside > h4, .main-contents aside > h5, .main-contents aside > h6
, .main-contents section > h1, .main-contents section > h2, .main-contents section > h3, .main-contents section > h4, .main-contents section > h5, .main-contents section > h6
, .main-contents div > h1, .main-contents div > h2, .main-contents div > h3, .main-contents div > h4, .main-contents div > h5, .main-contents div > h6 {
	padding: 0 0 5px 5px;
	border-bottom: 3px solid #000;
	border-image: url("../img/border.png") 0 0 3 0 / 0 0 3px round;
	border-bottom: 1px solid #4c89f7;
	color:#4c89f7;
}


/*============================================================================*/
/* フッター                                                                   */
/*============================================================================*/
body > footer {
	display: flex;
	flex-flow: row wrap;
	margin-top: 30px;
	color: rgba(255, 255, 255, .8);
	background-color: rgba(0, 0, 0, .4);
}
body > footer > section {
	flex: 1 1 calc(100% / 3);
	width: calc(100% / 3);					/* IE用に記述 */
	margin: 0;
	padding: 0;
	background-color: transparent;
}
body > footer > section > h3 {
	margin: 15px;
	font-size: 1em;
	color: rgba(255, 204, 0, .8);
}
body > footer > section > ul {
	list-style-type: none;
	margin: 0 30px;
	font-size: .9em;
}
body > footer > section > ul > li {
	margin-bottom: 5px;
}
body > footer > section > ul > li > a {
	text-decoration: none;

}
body > footer > section > ul > li > a:link {
	color: rgba(255, 255, 0, .8);
}
body > footer > section > ul > li > a:visited {
	color: rgba(204, 204, 0, 1);
}
body > footer > section > ul > li > a:hover, body > footer > section > ul > li > a:active {
	color: rgba(255, 255, 0, .8);
	text-shadow: 1px 1px 10px rgba(204, 204, 0, .4)
		, -1px 1px 10px rgba(204, 204, 0, .4)
		, -1px -1px 10px rgba(204, 204, 0, .4)
		, 1px -1px 10px rgba(204, 204, 0, .4);
}

body > footer > p {
	flex: 0 0 100%;
	margin: 30px 0 15px;
	font-size: .8em;
	text-align: center;
}
