#REGIST{
	width:520px;
	margin:30px auto;
	padding:10px;
	background:#fff;
	border-radius:10px;
	border:1px solid #eee;
	font-size:14px;
}

form{
	margin-top:20px;
}

form p{
	color:red;
	font-size:0.9em;
	margin:10px 0 10px 165px;
}


#REGIST .F_title{
	display:inline-block;
	width:160px;
	font-size:1.5em;
	color:#666;
}


#REGIST .F_form{
	width:320px;
	height:30px;
	color:#666;
	font-size:1.4em;
	letter-spacing:0.06em;
}

#REGIST #button{
	margin:10px 0 10px 400px;
}


#REGIST #error{
	display:none;
	font-size:1.2em;
	font-weight:bold;
}

