#REGIST{
	width:520px;
	margin:100px auto;
	padding:10px;
	background:#fafafa;
	border-radius:10px;
	border:1px solid #eee;
	font-size:14px;
}

#REGIST h1{
	font-size:1.4em;
}


#REGIST form{
	margin-top:30px;
}

form p{
	font-size:0.9em;
	margin:10px 0 10px 165px;
}

#REGIST p{
	line-height:1.5em;
	letter-spacing:0.04em;
}


#REGIST .F_title{
	display:inline-block;
	width:160px;
	font-size:1.5em;
	color:#666;
}


#REGIST .F_form{
	width:320px;
	height:30px;
	color:#666;
	font-size:1.4em;
	letter-spacing:0.06em;
}



#REGIST #button{
	margin:10px 0 10px 398px;
}


.red{
	color:red;
}


