#WRAP{
	width:960px;
	margin:0 auto;
}

#WRAP #title{
	margin:30px 0;
}

h1{
	margin-top:50px;
}


.area{
	width:200px;
	float:left;
}

#area2{
	width:400px;
}

.clear{
	clear:both;
}


table{
	border:1px solid #666;
}

td{
	width:30px;
	height:30px;
	font-size:0.6em;
	background:#ddd;
	text-align:center;
}

/*車椅子*/
.car{
	background:#3CC;
}

/*ペアシート*/
.pear{
	background:#FC3;
}

/*席がない場所*/
.null{
	background:#fff;
	border:1px solid #eee;
}

