@charset "utf-8";
li{
	list-style: none;
}
.left-cont{
	width: 460px;
	padding: 16px;
	float: left;
	line-height: 1.6em;
}
.right-cont{
	width: 380px;
	padding: 16px;
	float: right;
	line-height: 1.6em;
}


/****************************************
***********   クリアにする   ****************
****************************************/
.cl{
	clear: both;
}