@charset "utf-8";

.reserved_t1 {
	width : 850px;
	margin-top : 50px;
	margin-left : auto;
	margin-right : auto;
	margin-bottom : 50px;
}

.reserved_t1 tr td {
	border : 1px solid black;
	margin : 5px;
}

.reserved_t1_left {
	width : 500px;
}

.reserved_t2 {
	width : 800px;
	margin-left : auto;
	margin-right : auto;
}

.reserved_t3 {
	width : 800px;
	margin-left : auto;
	margin-right : auto;
}
#content{
	width: 850px;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	height: 300px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
}
.box{
	width: 150px;
	height: 300px;
	float: left;
	margin-left: 100px;
}
.inbox{
	margin-top: 17px;
}